@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");

h1 {
  font-family: "Dancing Script", cursive;
}

.main-body {
  font-size: 200%;
}
.red-card {
  color: red;
}
.strike-through {
  text-decoration: line-through black solid;
}
.wild-card {
  animation: 10000s linear infinite wild-card;
  background-image: repeating-linear-gradient(-30deg, red 0 25%, black 25% 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* Adapted from https://codepen.io/jackrugile/pen/aLkxA */
.one-card-left {
  background: hsla(0, 0%, 0%, 0.9);
  color: hsla(0, 0%, 0%, 0.9);
  animation: move linear 2000ms infinite;
  padding: 0 6px;
  border-radius: 4px;
  font-family: "Zen Tokyo Zoo", cursive;
}
@keyframes move {
  0% {
    text-shadow: 4px -4px 0 cyan,
      3px -3px 0 cyan, 2px -2px 0 cyan,
      1px -1px 0 cyan, -4px 4px 0 magenta,
      -3px 3px 0 magenta, -2px 2px 0 magenta,
      -1px 1px 0 magenta;
  }
  25% {
    text-shadow: -4px -4px 0 magenta,
      -3px -3px 0 magenta, -2px -2px 0 magenta,
      -1px -1px 0 magenta, 4px 4px 0 cyan,
      3px 3px 0 cyan, 2px 2px 0 cyan,
      1px 1px 0 cyan;
  }
  50% {
    text-shadow: -4px 4px 0 cyan,
      -3px 3px 0 cyan, -2px 2px 0 cyan,
      -1px 1px 0 cyan, 4px -4px 0 magenta,
      3px -3px 0 magenta, 2px -2px 0 magenta,
      1px -1px 0 magenta;
  }
  75% {
    text-shadow: 4px 4px 0 magenta,
      3px 3px 0 magenta, 2px 2px 0 magenta,
      1px 1px 0 magenta, -4px -4px 0 cyan,
      -3px -3px 0 cyan, -2px -2px 0 cyan,
      -1px -1px 0 cyan;
  }
  100% {
    text-shadow: 4px -4px 0 cyan,
      3px -3px 0 cyan, 2px -2px 0 cyan,
      1px -1px 0 cyan, -4px 4px 0 magenta,
      -3px 3px 0 magenta, -2px 2px 0 magenta,
      -1px 1px 0 magenta;
  }
}

table {
  border: 0.2em solid;
  border-radius: 0.5em;
  /*border-collapse: collapse;*/
  /* border-collapse breaks border-radius :( */
  border-spacing: 0;
}

td,
th {
  padding: 0 0.25em;
  border: 0.04em solid lightgray;
}

th {
  border-top: none;
}

tr:last-child td, tr:last-child th {
  border-bottom: none;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

td:nth-child(2),
td:nth-child(3) {
  text-align: right;
}

@keyframes wild-card {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 3333em 0;
  }
}
.my-card {
  border: 0.2em solid;
  border-radius: 0.5em;
  padding: 0.1em 0.2em;
  margin: 0.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-card > div:nth-child(2) {
  font-size: 1rem;
}
.my-card button {
  border-radius: 0.5em;
  border-width: 1px;
}
.my-card button:focus {
  box-shadow: 0 0 0 0.25em orange;
  outline: none;
}
.my-cards {
  display: flex;
  flex-wrap: wrap;
}
